/* PlantCard.module.css */
.card {
  display: grid;
    gap: 10px;
    grid-template-columns: 20% auto;
    background: #444444bd;
    width: 100%;
    margin: 15px 0;
    border-radius: 15px;
    cursor: pointer;
    overflow: hidden;
  }

  @media only screen and (max-width: 425px) {
    .card{
      display: block;
      height: auto;
    }
}

  .card:hover {
    background: #44444456;
  }
  
  .cardPicWrap {
    width: 95%;
    height: 250px;
    position: relative;
    margin: 1vh;
    border-radius: 10px;
  }
    
  .cardPicWrap img {
    border-radius: 10px;
  }
  
  .cardContent {
    padding: 1em;
  }
  
  .cardContent h3 {
    font-weight: bold;
    font-size: 1.5em;
    margin: 0;
  }
  
 