/* PlantCard.module.css */
.card {
    background: #444444bd;
    width: 100%;
    margin: 20px 0;
    padding: 2vh;
    color: white;
    border-radius: 15px;
    cursor: pointer;
    height: auto;
  }

  .card:hover {
    background: #44444456;
  }
  
 