/* styles/Marquee.module.css */
.marqueeContainer {
    width: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
  }
  
  .marqueeContent {
    display: inline-block;
    white-space: nowrap;
    animation: marquee 20s linear infinite;
  }
  
  @keyframes marquee {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(-100%);
    }
  }
  