.container{
    width:80%;
    margin: 0 auto;
}

@media (max-width: 450px) {
    .container{
        width:90%;
        position: relative;
    }
}

.title{
    font-size: 30px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f8a820;
    margin-top: 5vh;
}

.title span{
    font-size: 30px;
    margin-right: 1vh;
    font-weight: bold;
}

@media (max-width: 450px) {
    .title{
        font-size: 20.5px;
    }
}

.grid{
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

@media (max-width: 450px) {
    .grid{
        height: auto;
        width: calc(300px *10);
        overflow-y: hidden;
        padding-bottom: 1vh;
    }
}

.itemCard{
    width: calc(20%);
}

.itemCardLoading{
    width: calc(23%);
    margin: 1%;
}

@media (max-width: 450px) {

    .itemCardLoading{
        width: 200px;
        height: 150px;
        margin: 0.5%;
        display: inline;
    }
    
    .itemCard{
        width: 300px;
        display: inline;
    }

    .scrollContainer{
        width: 110%;
        overflow-x: scroll;
        position: relative;
        left: -5%;
    }
}

