.footer{
    width: 80%;
    margin: 4vh auto;
}

@media only screen and (max-width: 425px) {
    .footer{
        width: 95%;
    }
  }
   
.newLetter{
  width: 60%;
  margin: 5vh auto;  
  background-color: #2487a3;
  padding: 2vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  text-align: center;
  border-radius: 15px;
}

@media only screen and (max-width: 425px) {
    .newLetter{
        width: 95%;
    }
}

.newLetter span{
    font-size: 70px;
}

.newLetter h2{
    margin: 0;
    padding: 0;
}

.newLetter input{
    margin: 1vh;
    padding: 1vh;
    border-radius: 10px;
    border: 3px solid white;
    background: transparent;
    color: white;
    outline: none;
    text-align: center;
}

.newLetter button{
    margin: 1vh;
    padding: 1vh;
    border-radius: 10px;
    border: 3px solid  #f8a820;
    background: #f8a820;
    color: white;
    outline: none;
    text-align: center;
}
.newLetter input::placeholder{
    color: white;
}

.content{
    display: grid;
    gap: 20px;
    grid-template-columns: 50% 25% 25%;
    margin: 1.25vh;
}

.footer h2{
    color: #048b9a;
}


.footer p{
    color: #aaa;
}


.footer a{
    text-decoration: none;
    color: #aaa;
}

@media only screen and (max-width: 425px) {
    .content{
        display: block;
        margin-bottom: 15vh;
    }
  }
   