.cardAdmin{
    background: #444444bd;
    border-radius: 15px;
    width: 22%;
    padding: 1.5vh;
    cursor: pointer;
    transition: 500ms;
    margin: 0.5%;
    display: inline-block;
    position: relative;
}

@media only screen and (max-width: 425px) {
    .cardAdmin{
        width: 48%;
        height: auto;
        font-size: 20px;
        margin: 1.5% 0.5%;
    }
}

.cardAdminImg{
    width: 100%;
    height: 200px;
    margin: 1.5vh auto;
    position: relative;
}

@media only screen and (max-width: 425px) {
    .cardAdminImg{
        height: 100px;
    }
}

.cardHorizontal{
    background: #444444bd;
    border-radius: 15px;
    width: 100%;
    padding: 1vh 2.5vh;
    cursor: pointer;
    transition: 500ms;
    margin: 1.5vh auto;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.cardHorizontal span{
    font-size: 35px;
    margin-right: 10px;
}

.cardHorizontal:hover{
    background: #44444456;
}

.cardAdmin:hover{
    background: #44444456;
}

.title{
    font-size: 18px;
}

@media only screen and (max-width: 425px) {
    .title{
    font-size: 12px;
    }
}

.titleHozontal{
    font-size: 18px;
    font-weight: bold;
    text-transform: capitalize;
    color: white;
}

.time{
    background: #444444c9;
    border-radius: 15px;
    width: auto;
    text-align: center;
    font-weight: bold;
    padding: 0.25vh 1.5vh;
    display: inline-block;
}

@media only screen and (max-width: 425px) {
    .time{
        font-size: 10px;
    }
}